<p>
  eScience Academy workshops
  aim to introduce researchers to good programming practices
  and basic computing skills.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p>
  With the advance of new technologies, data volumes and numbers of files are constantly increasing. Good datamanagement is therefore an essential part of data-driven research. In this course we will introduce how to efficiently manage data with iRODS and to build computational pipelines on HPC infrastructure employing this data. Topics in this course will include: - Data Life Cycle and FAIR principles - iRODS concepts - iRODS graphicxal user interface - Labeling data and searching for data in iRODS - Building a computational pipeline that draws on data managed in iRODS.
</p>
